# Instalando Bibliotecas

In [1]:
!pip install cx_Oracle pandas openpyxl

Collecting cx_Oracle
  Downloading cx_Oracle-8.3.0-cp38-cp38-win_amd64.whl (219 kB)
     ------------------------------------ 219.3/219.3 kB 836.4 kB/s eta 0:00:00
Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: openpyxl in c:\users\user\anaconda3\lib\site-packages (3.0.7)
Requirement already satisfied: pytz>=2017.3 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: et-xmlfile in c:\users\user\anaconda3\lib\site-packages (from openpyxl) (1.0.1)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: cx_Oracle
Successfully installed cx_Oracle-8.3.0

WARNING: There was an error checking the latest version of pip.

# Imports e Conexão

In [2]:
# Importação
import pandas as pd
import cx_Oracle

In [3]:
# Configuração de conexão
usuario = 'vendas_produtos'
senha = 'venda01x'
host = 'localhost'
porta = 1521
servico = 'XEPDB1'

dsn = cx_Oracle.makedsn(host, porta, service_name=servico)

In [4]:
# Conexão

try:
    conexao = cx_Oracle.connect(user=usuario, password=senha, dsn=dsn)
    print("Conectado ao Oracle com sucesso!")
except Exception as e:
    print("Erro ao conectar:", e)

Conectado ao Oracle com sucesso!

# Consulta SQL e Carregamento dos Dados

In [34]:
# Consulta SQL

query = """
SELECT 
    c.nome AS cliente,
    c.cidade,
    p.nome_produto,
    p.categoria,
    v.data_venda,
    v.quantidade,
    p.preco_unitario,
    (v.quantidade * p.preco_unitario) AS total_venda
FROM vendas v
JOIN clientes c ON v.id_cliente = c.id_cliente
JOIN produtos p ON v.id_produto = p.id_produto
ORDER BY v.data_venda
"""

In [35]:
# Leitura para DataFrame

df = pd.read_sql(query, conexao)

In [36]:
df.head()

,CLIENTE,CIDADE,NOME_PRODUTO,CATEGORIA,DATA_VENDA,QUANTIDADE,PRECO_UNITARIO,TOTAL_VENDA
0,Ana,São Paulo,Notebook,Eletrônicos,2025-01-10,1,3500.0,3500
1,Bruno,Brasília,Cadeira Gamer,Móveis,2025-01-11,2,900.0,1800
2,Carlos,Rio de Janeiro,Notebook,Eletrônicos,2025-01-15,1,3500.0,3500
3,Carlos,Rio de Janeiro,"Monitor 24""",Eletrônicos,2025-01-16,2,1200.0,2400
4,Daniela,Salvador,Mouse Gamer,Acessórios,2025-02-02,1,250.0,250

# Tratando os Dados

In [38]:
#Converter coluna em data

df['DATA_VENDA'] = pd.to_datetime(df['DATA_VENDA'])

In [39]:
df['MES_ANO'] = df['DATA_VENDA'].dt.to_period('M')

In [40]:
# Verificando os tipos
df.dtypes

CLIENTE                   object
CIDADE                    object
NOME_PRODUTO              object
CATEGORIA                 object
DATA_VENDA        datetime64[ns]
QUANTIDADE                 int64
PRECO_UNITARIO           float64
TOTAL_VENDA                int64
MES_ANO                period[M]
dtype: object

# Exportando para CSV e Excel

In [41]:
# Dados CSV
df.to_csv("vendas_tratadas.csv", index=False)

print("Dados exportados com sucesso!")

Dados exportados com sucesso!

In [43]:
# Dados Excel
df.to_excel("vendas_tratadas.xlsx", index=False)

print("Dados exportados com sucesso!")

Dados exportados com sucesso!